<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>cell</key>
      <string>PSGroupCell</string>
      <key>label</key>
      <string>MyGlobalSwitch</string>
      <key>footerText</key>
      <string>Enable or disable the tweak globally</string>
    </dict>
    <dict>
      <key>cell</key>
      <string>PSSwitchCell</string>
      <key>default</key>
      <true/>
      <key>defaults</key>
      <string>com.example.myglobalswitch</string>
      <key>key</key>
      <string>Enabled</string>
      <key>label</key>
      <string>Enable</string>
      <key>PostDarwinNotification</key>
      <string>com.example.myglobalswitch/ReloadPrefs</string>
    </dict>
  </array>
  <key>title</key>
  <string>MyGlobalSwitch</string>
</dict>
</plist>


